<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>House price prediction</title>
  </head>
  <body>
    <h1>House price prediction</h1>
    <p> {{date[0]}}-{{date[1]}}-{{date[2]}}:</p>
    <p> Average price per overall quality ranking</p>
    <ul>
       {% for item in list %}
          <li>{{item[0]}}: {{item[1]}}</li>
       {% endfor %}
    </ul>


    <form action="/insert">
       <label for="yearbuilt">Insert year built:</label><br>
       <input type="number" id="yearbuilt" name="yearbuilt" value="2000"><br>
       <label for="yearremodadd">Insert year remodeled:</label><br>
       <input type="number" id="yearremodadd" name="yearremodadd" value="2000"><br>      
       <label for="overallqual">Insert overall quality rate (1 to 10):</label><br>
       <input type="number" id="overallqual" name="overallqual" value="1"><br>
       <label for="exterqual">Insert external quality rate (1 to 5):</label><br>
       <input type="number" id="exterqual" name="exterqual" value="1"><br>       
       <label for="garagecars">Insert number of garage cars:</label><br>
       <input type="number" id="garagecars" name="garagecars" value=0><br>
       <label for="kitchenqual">Insert kitcken quality rate (1 to 5):</label><br>
       <input type="number" id="kitchenqual" name="kitchenqual" value=1><br>
       <label for="bsmtqual">Insert basement quality rate (0 to 5):</label><br>
       <input type="number" id="bsmtqual" name="bsmtqual" value=0><br>
       <input type="submit" value="Insert">
    </form>
  </body>
</html>

